@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap');

:root {
	--container-width: 1170px;
	--container-padding: 0 15px;

	--font-main: 'DM+Sans', sans-serif;
	--font-accent: 'Poppins', serif;

	--page-bg: #fff;
	--text-color: #000;
	--accent: #ac182c;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}