.work__link{
  width: 370px;
  border-radius: 10px;
  box-shadow: 0 4px 34px 0 rgba(50, 75, 104, 0.17);


  margin-bottom: 15px;
}

.work__img{
  margin-bottom: 15px;
}

.work__title{
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0,5px;
  padding-bottom: 25px;
  padding-left: 20px;
}

